*
{
    margin: 0;
    padding: 0;
}

body
{
     background-color: #1a1a1d;
     color: #fff;
     font-family: "Montserrat";
}

body h1
{
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}

.contain
{
    background-color: lightgrey;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius: 8px;
    padding: 2rem;
}

.boxmain
{
    width: 220px;
    height: 220px;
    border-radius: 2px;
    text-align: center;
    background-color: #1a1a1d;
   margin-bottom: 2rem;
   margin-top: 2rem;
   margin-left: 3.2rem;
}
.boxmain p
{
    margin-top: 1rem;

}
